
@font-face {
  font-family: "glebe"; 
  src: url("../../fonts/NEXA-HEAVY.woff2") format("woff2");
  src: url("../../fonts/NEXA-HEAVY.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
} 

  